Expenses:
{% for expense in expenses %}id={{ expense.id }}
category={{ expense.category.name }}
date={{ expense.date }}
currency={{ expense.currency }}
amount={{ expense.amount }}
comment={{ expense.comment }}
{% endfor %}